.LinksManage {
  border-left: 2px solid #f93;
  border-radius: 3px 0 0 3px;
  text-shadow: 1px 1px #eee;
}
#LinksManageList td {
  padding: 10px;
}
#LinksManageAdd td {
  padding: 5px;
}
#LinksManageDel {
  visibility: hidden;
}
#LinksManageDel.active {
  transition: all linear 0.2s;
  background: #f36;
  color: #fff;
  padding: 20px;
  visibility: visible;
  line-height: 2em;
  font-size: 15px;
}
#LinksManageDel.hover {
  transition: all linear 0.2s;
  border-color: rgba(255,51,102, 0.75);
  box-shadow: 0 0 18px rgba(255,51,102, 3);
}
.LinksManageAdd {
  display: none;
}
